@purple-bg: #125187;
@red-bg: #c33325;
@light-red-bg: #f5c1c3;
@teal-bg: #2c8693;
@cream-bg: #eff1d5;
@orange-bg: #f19723;
@lighter-bg: #ddd;
@darker-bg: #ccc;
@darkest-bg: #666666;

body {
  font-family:'Roboto', sans-serif;
  color:@darkest-bg;
  font-size:14px;
  font-weight:400;
  background:#ffffff;
  margin: 0px;
  
  .frodo-panel {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .frodo-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* Modal Content */
    .frodo-modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      box-sizing: border-box;
      width: 80%;

      .frodo-modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
      }

      .frodo-modal-body {
        position: relative;
        padding: 15px;
      }

      .frodo-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
      }

      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .frodo-navbar, .frodo-modals {
    background-color: @cream-bg;
    color: @purple-bg;

    .frodo-navbar-header {
      display: inline-block;

      a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 800;
      }
    }

    .frodo-navbar-menu {
      display: inline-block;
    }
  }

  .frodo-alert {
    margin-bottom: 7px;
    position: relative;

    a {
      cursor: pointer;
      height:100%;
      position: absolute;
      right: 3px;
      text-decoration: none;
      z-index: 999;
    }

    &.frodo-alert-warning {
      background-color: @cream-bg;
      border-radius: 4px;
      color: @darkest-bg;
      padding: 7px;
    }
  
    &.frodo-alert-danger {
      background-color: @light-red-bg;
      border-radius: 4px;
      color: @red-bg;
      padding: 7px;
    }
  }

  .frodo-input-field {
    margin-bottom: 13px;

    label, input {
      display: block;
    }

    .frodo-input {
      border-radius: 4px;
      border: 1px solid @darker-bg;
      height: 20px;
    }
  }

  .frodo-row {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;

    .frodo-side {
      background-image: url('../assets/red-notes.png');
      color: @red-bg;
      flex: 60%;
      padding: 20px;
    }
  
    .frodo-main {
      flex: 34%;
      padding: 20px;
    }
  }

  @media screen and (max-width: 700px) {
    .frodo-row, .frodo-navbar {   
        flex-direction: column;
    }
  }

  .frodo-ok-button {
    color: @cream-bg;
    background-color: @teal-bg;
    border-radius: 4px;
    font-size: 1.2em;
    height: 30px;
    margin-top: 27px;

    &:hover {
      border: 1px solid @cream-bg;
    }
  }

  .frodo-cancel-button {
    background-color: @cream-bg;
    color: @teal-bg;

    &:hover {
      border: 1px solid @teal-bg;
    }
  }
}

.frodo-navbar-header {
  height: 55px;
  padding: 5px;
  text-align: center;
}

.cta {
  height: 55%;
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid @darker-bg;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: @lighter-bg;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: @darker-bg;
  }

  /* Style the tab content */
  .tabcontent {
    border: 1px solid @darker-bg;
    border-top: none;
    display: none;
    height: 100%;
    padding: 6px 12px;
  }
}