doctype html
html(lang='en', ng-app='frodocms')
  head
    title Frodocms
    base(href='/')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-route/angular-route.min.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    link(rel='shortcut icon', href='assets/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css', type='text/css', media='screen')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='css/main.css', rel='stylesheet')
    link(href='lib/robotodraft/robotodraft.css', rel='stylesheet')
    script(src='js/main.js')
  body(ng-controller='MainController as main')
    header
      .frodo-navbar
        .frodo-navbar-header
          a(href='/')
            | Frodocms
            i.fas.fa-pen
        .frodo-navbar-menu(ng-show='false')
    .frodo-row
      .frodo-side
        h1 Frodocms - A notebook for all your scribbles and sketches.
        p Write and Save Notes
      .frodo-main
        .cta
          .tab
            button.frodo-cancel-button.tablinks(onclick="openCta(event, 'Login')") Login
            button.frodo-cancel-button.tablinks(onclick="openCta(event, 'Register')") Register
          #Login.tabcontent
            h2 Login
            form(method='post', ng-submit='main.doLogin()')
              .frodo-alert.frodo-alert-danger(ng-if='main.error')
                strong Error!
                |  {{ main.error }}
                a(aria-label='close', onclick="closeFunction(event)") x
              .frodo-input-field(style="width: 98%")
                label(for='login_user_name') Username
                input#login_user_name.frodo-input(type='text', name='username', style="width: 100%", ng-model='main.loginData.username')
              .frodo-input-field(style="width: 98%")
                label(for='login_password') Password
                input#login_password.frodo-input(type='password', name='password', style="width: 100%", ng-model='login.loginData.password')
              button.frodo-ok-button(type='submit', style="width: 100%;") Login
            p
              a(onclick="openCta(event, 'Register')") Not Registered? Sign up here.
          #Register.tabcontent
            h2 Sign Up
            form(method='post', ng-submit='main.doSignup()')
              .frodo-alert.frodo-alert-warning(ng-if='!main.error')
                strong Info!
                |  Please fill every entry to signup!
                a.close(aria-label='close', onclick="closeFunction(event)") ×
              .frodo-alert.frodo-alert-danger(ng-if='main.error')
                strong Error!
                | {{ main.error }}
                a.close(aria-label='close', onclick="closeFunction(event)") ×
              br
              .row(style='display:flex;')
                .frodo-input-field(style="flex-grow: 1; margin-right: 10px;")
                  label(for='signup_first_name') First Name
                  input#signup_first_name.frodo-input(type='text', style='width: 100%', ng-model='main.signupData.firstname')
                .frodo-input-field(style="flex-grow: 1;")
                  label(for='signup_last_name') Last Name
                  input#signup_last_name.frodo-input(type='text', style='width: 100%', ng-model='main.signupData.lastname')
              .row
                .frodo-input-field
                  label(for='signup_password') Password
                  input#signup_password.frodo-input(type='password', style="width: 100%", ng-model='main.signupData.password')
              .row
                .frodo-input-field
                  label(for='signup_user_name') Username
                  input#signup_user_name.frodo-input(type='text', name='username', style="width: 100%", ng-model='main.signupData.username')
              .row
                .frodo-input-field
                  label(for='signup_email') Email
                  input#signup_email.frodo-input(type='text', name='email', style="width: 100%", ng-model='main.signupData.email')
              button.frodo-ok-button(type='submit', style="width: 100%;") Signup
            p
              a(onclick="openCta(event, 'Login')") Already Registered? Login here.

    script(src='js/main.js')
    script.
      function openCta(evt, ctaType) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(ctaType).style.display = "block";
      evt.currentTarget.className += " active";
      }

      function closeFunction(evt) {
      evt.currentTarget.parentElement.style.display = "none";
      }
