.container
  .jumbotron
    h2 Create Document 
      .fa.fa-file 
  section(ng-controller='DocumentController as docman')
    form.form-sigin(method='post', ng-submit='docman.createDocument()')
      br
      .row
        .input-field.col.s12
          input#title(type='text', name='title', ng-model='docman.docData.title')
          label(for='title') Title
      .row
        .input-field.col.s12(name='content', ng-model='docman.docData.content', style='height:200px;')
          textarea#content.materialize-textarea
          label(for='content') Content
      br
      button.btn.btn-success(type='submit') Save Document
