.container
  .row(ng-controller='EditUserController as edUser')
    .col.s6.col-md-4.col-sm-6.col-xs-12(style='margin:0; padding:0;')
      .portfolio.col.s6
        figure.effect-julia
          img(src='img/face.jpg', alt='', style='height:200px; width:140px;')
          figcaption
            .heading
              h3 {{ currentUser.name.last }} 
    .col.s6.heading
      h3.title-small Welcome {{ currentUser.username }} 
      form.form-sigin(method='post', ng-submit='edUser.updateUser(currentUser._id)')
        br
        | Username: 
        label {{ currentUser.username }}
        br
        | Role: 
        label {{ currentUser.role }}
        br
        | First Name: 
        label {{ currentUser.name.first }}
        input.form-control(type='text', name='firstname', placeholder='New First Name', ng-model='edUser.userData.firstname')
        | Last Name: 
        label {{ currentUser.name.last }}
        input.form-control(type='text', name='lastname', placeholder='New Last Name', ng-model='edUser.userData.lastname')
        | Email: 
        label {{ currentUser.email }}
        input.form-control(type='text', name='email', placeholder='New Email', ng-model='edUser.userData.email')
        br
        button.btn.btn-lg.btn-material-teal(type='submit') Update User
        button.btn.btn-lg.btn-material-red(type='submit' ng-click='edUser.delete(currentUser._id)') Delete {{ currentUser.name.first }}
