.container
  section
    .heading
        h3 {{ login.user.name.last }}'s documents
      .panel-body(ng-repeat='each in document.documents')
        h3.title-small {{ each.title }}
        p {{ each.content }}
        p Created: {{ each.dateCreated | date }}
        br
        button.btn.btn-lg.btn-material-teal(type='submit') Update
        button.btn.btn-lg.btn-material-red(type='submit' ng-click='document.delete(each._id)') Delete
