.content-wrap
  header#home.hero-area
    .container
      .contents.text-right
        h1.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms') Frodocms - Managing your Documents
        p.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Write and Save Documents
        a.btn.btn-lg.btn-primary.wow.fadeInUp(href='/login', data-wow-duration='1000ms', data-wow-delay='400ms') Sign In
        a.btn.btn-lg.btn-border.wow.fadeInUp(href='/signup', data-wow-duration='1000ms', data-wow-delay='500ms') Sign Up
  