.container
  .jumbotron
    h2 Login
  section
    form.form-sigin(method='post', ng-submit='login.doLogin()')
      .alert.alert-danger(ng-if='login.error')
        a.close(href='#', data-dismiss='alert', aria-label='close') ×
        strong Error!
        |  {{ login.error }}
      .row
        .input-field.col.s12
          input#user_name.validate(type='text', name='username', ng-model='login.loginData.username')
          label(for='user_name') Username
      .row
        .input-field.col.s12
          input#password.validate(type='password', name='password', ng-model='login.loginData.password')
          label(for='password') Password
      button.btn.btn-lg.btn-material-teal(type='submit') Login
    p
      a(href='/signup') Not Registered? Sign up here.