.container
  .jumbotron
    h2 Sign Up
  section(ng-controller='SignupController as signup')
    form.form-sigin(method='post', ng-submit='signup.doSignup()')
      .alert.alert-info(ng-if='!signup.error')
        a.close(href='#', data-dismiss='alert', aria-label='close') ×
        strong Info!
        |  Please fill every entry to signup!
      .alert.alert-danger(ng-if='signup.error')
        a.close(href='#', data-dismiss='alert', aria-label='close') ×
        strong Error!
        | {{ signup.error }}
      br
      .row  
        .input-field.col.s6
          input#first_name.validate(type='text', ng-model='signup.signupData.firstname')
          label(for='first_name') First Name
        .input-field.col.s6
          input#last_name.validate(type='text', ng-model='signup.signupData.lastname')
          label(for='last_name') Last Name
      .row
        .input-field.col.s12
          input#password.validate(type='password', ng-model='signup.signupData.password')
          label(for='password') Password
      .row
        .input-field.col.s12
          input#user_name.validate(type='text', name='username', ng-model='signup.signupData.username')
          label(for='user_name') Username
      .row
        .input-field.col.s12
          input#email.validate(type='text', name='email', ng-model='signup.signupData.email')
          label(for='email') Email
      p
        input#test1(name='role', type='radio', value='1', ng-model='signup.signupData.role')
        label(for='test1') Administrator
      p
        input#test2(name='role', type='radio', value='2', checked='true', ng-model='signup.signupData.role')
        label(for='test2') User
      button.btn.btn-success(type='submit') Signup
    p
      a(href='/login') Already Registered? Login here.