.container
  .jumbotron
    h2 Sign Up
  section(ng-controller='SignupController as signup')
    form.form-sigin(method='post', ng-submit='signup.doSignup()')
      .alert.alert-info(ng-if='!signup.error')
        a.close(href='#', data-dismiss='alert', aria-label='close') ×
        strong Info!
        |  Please fill every entry to signup!
      br
      | Username
      input.form-control(type='text', name='username', ng-model='signup.signupData.username')
      br
      | Password
      input.form-control(type='password', name='password', ng-model='signup.signupData.password')
      br
      | First Name
      input.form-control(type='text', name='firstname', ng-model='signup.signupData.firstname')
      br
      | Last Name
      input.form-control(type='text', name='lastname', ng-model='signup.signupData.lastname')
      br
      | Email
      input.form-control(type='text', name='email', ng-model='signup.signupData.email')
      br
      | Role
      br
      p
        input#test1(name='role', type='radio', value='1', ng-model='signup.signupData.role')
        label(for='test1') Administrator
      p
        input#test2(name='role', type='radio', value='2', checked='true', ng-model='signup.signupData.role')
        label(for='test2') User
      button.btn.btn-success(type='submit') Signup
    p
      a(href='/login') Already Registered? Login here.